
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #141922;
}

:root{
    --border_debug: 1px dashed;
    --footer_height: 150px;
    --padding-general: 20px;
}

ul, ol{
    list-style: none;
}

.container{
    display: flex;
}

.container > aside, .container > main > .main_container, .container > footer{
    padding: var(--padding-general);
}


.my-row{
    display: flex;
    flex-wrap: wrap;
}

section{
    padding: var(--padding-general) 0;
}

section h2{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

section .card h3{
    color: white;
    padding: var(--padding-general) 0;
}

section .card h4{
    color: gray;
}

/*
    ASIDE
*/

.container > aside{
    min-width: 300px;
    background-color: black;
}

/*
    MAIN
*/

.container > main{
    width: calc(100% - 300px);
    height: calc(100vh - var(--footer_height));
    overflow: auto;
}

main > header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-general) 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

main > header > .button{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 15px calc(var(--padding-general) *2);
    border: 1px solid white;
}

main > .main_container{
    scroll-margin-top: 58px;
    background-color: #141922;
}

 main > .main_container > .section_select{
    text-align: center;
}

 main > .main_container > .section_select li{
    display: inline-block;
    padding-bottom: var(--padding-general);
}

 main > .main_container > .section_select li > a{
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    font-size: 0.9rem;
}

main .main_container > .section_select li > .selected_effect{
    width: 2rem;
    border: 1px solid #bdff30;
    margin: 0 auto;
}

main > .main_container > .recently_played > .my-row > .col-1-6{
    width: calc(100% / 7);
}

main > .main_container > .recently_played > .my-row{
    padding-top: var(--padding-general);
}

main > .main_container > .recently_played > .my-row > .col-1-6 > .card{
    padding: calc(var(--padding-general) /2);
    height: 100%;
    text-align: center;
}

main > .main_container > .recently_played > .my-row > .col-1-6 > .card > img{
    width: 100%;
    display: block;
}
/*
    FOOTER
*/

footer{
    background-color: #282828;
}

/*
    MEDIA QUERY
*/


@media screen and (max-width: 1100px){
}

@media screen and (max-width: 700px){
}

@media screen and (max-width: 600px){
    
    .container > aside{
        min-width: 80px;
    }

    .container > main{
        width: calc(100% - 80px);
    }
}


/*
    DEBUG
*/


.debug main > .main_container > .recently_played > .my-row > .col-1-6{
    min-height: 100px;
    border: var(--border_debug) red;  
}

.debug main > .main_container > .recently_played > .my-row > .col-1-6 > .card{
    border: var(--border_debug) blue;
}

.debug main > .main_container{
    
}


.debug main > header{
    
}

.debug footer{
    min-height: var(--footer_height);
}

.debug aside, .debug main{
    /* min-height: 500px; */
}


.debug aside{
    
} 

.debug main{
    
}

