
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #141922;
}

:root{
    --border_debug: 1px dashed;
    --footer_height: 150px;
    --padding-general: 20px;
}

ul, ol{
    list-style: none;
}

.container{
    height: calc(100vh - var(--footer_height));
    display: flex;
    align-items: flex-start;
}

.container > footer{
    padding: var(--padding-general);
}

.container > aside{
    padding: var(--padding-general) 0;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

section{
    padding: var(--padding-general);
}

section h2{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

section h3{
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

section .col-1-7 .card h3{
    color: white;
    padding: var(--padding-general) 0;
    line-height: 1.3rem;
    font-size: 1rem;
}

section .card h4{
    color: gray;
}

/*
    ASIDE
*/

.container > aside{
    min-width: 250px;
    background-color: black;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

aside > .logo-container{
    margin-bottom: 40px;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .logo-container > img:last-child{
    display: none;
}

aside > .logo-container > img{
    height: 50px;
    display: block;
    margin: 0 auto;
}

aside > .icon-small{
    text-align: center;
    display: none;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .icon-small > a{
    text-decoration: none;
    display: block;
    color: gray;
    font-size: 2rem;
    font-weight: lighter;
}

aside > nav{
    margin-bottom: 20px;
}

aside > nav li{
    vertical-align: middle;
}

aside > nav li i{
    font-size: 1.5rem;
    margin-right: 5px;
    font-weight: lighter;
}

aside > nav li:first-child{
    border-left: 5px solid #bdff30;
}

aside > nav li > a{
    display: block;
    color: gray;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > nav li:first-child > a{
    color: white;
}

aside > .playlist, aside > .playlist-container{
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .playlist > h4{
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
}

aside > .playlist > a{
    display: block;
    color: gray;
    font-weight: bold;
    text-decoration: none;
    padding: calc(var(--padding-general) /2) 0;
}

aside > .playlist i{
    background-color: lightgrey;
    font-size: 1.3rem;
    color: black;
    padding: calc(var(--padding-general) /2);
    margin-right: 5px;
    font-weight: bold;
}

aside > .playlist-container{
    overflow: auto;
    height: 100%;
}

aside .playlist-container  a{
    display: block;
    color: gray;
    padding: calc(var(--padding-general) /2) 0;
    text-decoration: none;
}

aside > .user-info{
    padding: 0 var(--padding-general);
    background-color: black;
}

/* aside > .user-info{
    position: sticky;
    top: 100%;
    padding: 0 var(--padding-general);
    background-color: black;
    margin-bottom: -20px;
} */

aside > .user-info a{
    color: gray;
    display: block;
    text-decoration: none;
    padding: 10px 0;
}

aside > .user-info > a{
    border-bottom: 1px solid gray;
}

aside > .user-info > .user > img, aside > .user-info > .user > a{
    vertical-align: middle;
    display: inline-block;
}

aside > .user-info img{
    margin-right: 5px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: gray;
    border-radius: 50%;
}

aside > .user-info > .user{
    padding: calc(var(--padding-general) /2) 0;
}

aside > .user-info > .user > a{
    font-weight: bold;
    color: white;
}

aside > .user-info-small{
    display: none;
    position: sticky;
    top: 100%;
    padding: 0 var(--padding-general);
    text-align: center;
}

aside > .user-info-small a{
    color: gray;
}

aside > .user-info-small i{
    font-size: 1.3rem;
    padding: calc(var(--padding-general) /2);
}

aside > .user-info-small img{
    height: 50px;
    padding: 5px;
    color: white;
    background-color: gray;
    border-radius: 50%;
}

/*
    MAIN
*/

.container > main{
    width: 100%;
    overflow: auto;
    height: 100%;;
}

main > header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-general) 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

main > header > .button{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 15px calc(var(--padding-general) *2);
    border: 1px solid white;
    background-color: transparent;
}

main > .main_container{
    scroll-margin-top: 58px;
    background-color: #141922;
}

 main > .main_container > .section_select{
    text-align: center;
}

 main > .main_container > .section_select li{
    display: inline-block;
    padding: var(--padding-general) 0;
}

 main > .main_container > .section_select li > a{
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    font-size: 0.9rem;
}

main .main_container > .section_select li > .selected_effect{
    width: 2rem;
    border: 1px solid #bdff30;
    margin: 0 auto;
}

main > .main_container > section > .my-row{
    padding-top: var(--padding-general);
    margin-left: -10px;
    margin-right: -10px;
}

main > .main_container > section > .my-row > .col-1-7{
    width: calc((100% / 6) - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

main > .main_container > section > .my-row > .col-1-7 > .card{
    height: 100%;
    text-align: center;
}

main > .main_container > section > .my-row > .col-1-7 > .card > img{
    width: 100%;
    display: block;
}

main > .main_container > .most_popular > .my-row > .col-1-7 > .card > img{
    border-radius: 50%;
}







/*
    FOOTER
*/

footer{
    background-color: #282828;
}


footer > *{
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
}

footer > .right{
    justify-content: flex-end;
}

footer > .left, .debug footer > .right{
    padding: 0 var(--padding-general);
    width: 25%;
}

footer > .left > .song{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

footer > .central{
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}

footer > .central > *{
    width: 100%;
    height: 50%;
}
footer > .central > .command{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer > .central > .command > button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1rem;
    padding: 10px;
}

footer > .central > .command > #play{
    font-size: 2rem;
}

footer > .left a{
    color: gray;
    text-decoration: none;
}

footer > .left{
    justify-content: flex-start;
}

footer > .left a > h4{
    color: white;
}

footer > .left img{
    max-width: 80px;
    width: 50%;
    margin-right: 20px;
}

footer > .left > div > i{
    color: gray;
    padding: calc(var(--padding-general) /2);
}

footer > .central .track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

footer > .central .track > span{
    padding: 0 5px;
    font-size: 0.8rem;
    color: white;
    display: block;
}

footer  .full-track{
    border-radius: 5px;
    height: 5px;
    background-color: gray;
    width: 90%;
}

footer .full-track > .progressiv-track{
    height: 5px;
    background-color: white;
    width: 20%;
}

/*
    MEDIA QUERY
*/


@media screen and (max-width: 1100px){
    .my-row{
        flex-wrap: wrap;
    }

    main > .main_container > section > .my-row > .col-1-7{
        width: calc((100% / 4) - 20px);
    }

    main > .main_container > section > .my-row > .col-1-7 > .card{
        padding-right: 0;
    }
}



@media screen and (max-width: 700px){
    main > .main_container > section > .my-row > .col-1-7{
        width: calc((100% / 2) - 20px);
    }

    footer > .left, .debug footer > .right{
        padding: 0 10px;
        width: 30%;
    }

    footer > .left{
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px){
    
    .container > aside{
        min-width: 50px;
    }

    .container > main{
        width: calc(100% - 50px);
    }

    aside > .logo-container{
        margin: 0;
    }

    aside > .logo-container > img:first-child{
        display: none;
    }

    aside > .logo-container > img:last-child{
        display: block;
    }

    aside > .main-icon, aside > .playlist:not(.main-icon i){
        display: none;
    }

    aside > .icon-small{
        display: block;
    }

    aside > .user-info{
        display: none;
    }

    aside > .user-info-small{
        display: block;
    }

}


/*
    DEBUG
*/

.debug aside .user-info{
}





.debug footer > *{
    /* border: var(--border_debug) white; */
}

.debug footer{

}





.debug aside .playlist-container{
}




.debug main > .main_container > .recently_played > .my-row > .col-1-7{
    /* min-height: 100px; */
     
}

.debug main > .main_container > .recently_played > .my-row > .col-1-7 > .card{
    
}

.debug main > .main_container{
    
}


.debug main > header{
    
}

.debug footer{
    
}

.debug aside, .debug main{
    /* min-height: 500px; */
}


.debug aside{
    
} 

.debug main{
    
}

