
/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #141922;
}

:root{
    --border_debug: 1px dashed;
    --footer_height: 150px;
    --padding-general: 20px;
}

ul, ol{
    list-style: none;
}

.container{
    height: calc(100vh - var(--footer_height));
    display: flex;
    align-items: flex-start;
}

.container > footer{
    padding: var(--padding-general);
}

.container > aside{
    padding: var(--padding-general) 0;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

section{
    padding: var(--padding-general);
}

section h2{
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

section h3{
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

section .col-1-7 .card h3{
    color: white;
    padding: var(--padding-general) 0;
    line-height: 1.3rem;
    font-size: 1rem;
}

section .card h4{
    color: gray;
}

/*
    ASIDE
*/

.container > aside{
    min-width: 250px;
    background-color: black;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

aside > .logo-container{
    margin-bottom: 40px;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .logo-container > img:last-child{
    display: none;
}

aside > .logo-container > img{
    height: 50px;
    display: block;
    margin: 0 auto;
}

aside > .icon-small{
    text-align: center;
    display: none;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .icon-small > a{
    text-decoration: none;
    display: block;
    color: gray;
    font-size: 2rem;
    font-weight: lighter;
}

aside > nav{
    margin-bottom: 20px;
}

aside > nav li{
    vertical-align: middle;
}

aside > nav li i{
    font-size: 1.5rem;
    margin-right: 5px;
    font-weight: lighter;
}

aside > nav li:first-child{
    border-left: 5px solid #bdff30;
}

aside > nav li > a{
    display: block;
    color: gray;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > nav li:first-child > a{
    color: white;
}

aside > .playlist, aside > .playlist-container{
    padding: calc(var(--padding-general) /2) var(--padding-general);
}

aside > .playlist > h4{
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
}

aside > .playlist > a{
    display: block;
    color: gray;
    font-weight: bold;
    text-decoration: none;
    padding: calc(var(--padding-general) /2) 0;
}

aside > .playlist i{
    background-color: lightgrey;
    font-size: 1.3rem;
    color: black;
    padding: calc(var(--padding-general) /2);
    margin-right: 5px;
    font-weight: bold;
}

aside > .playlist-container{
    overflow: auto;
    height: 100%;
    min-height: 100px;
}

aside .playlist-container  a{
    display: block;
    color: gray;
    padding: calc(var(--padding-general) /2) 0;
    text-decoration: none;
}

aside > .user-info{
    padding: 0 var(--padding-general);
    background-color: black;
}

aside > .user-info a{
    color: gray;
    display: block;
    text-decoration: none;
    padding: 10px 0;
}

aside > .user-info > a{
    border-bottom: 1px solid gray;
}

aside > .user-info > .user > img, aside > .user-info > .user > a{
    vertical-align: middle;
    display: inline-block;
}

aside > .user-info img{
    margin-right: 5px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: gray;
    border-radius: 50%;
}

aside > .user-info > .user{
    padding: calc(var(--padding-general) /2) 0;
}

aside > .user-info > .user > a{
    font-weight: bold;
    color: white;
}

aside > .user-info-small{
    display: none;
    position: sticky;
    top: 100%;
    padding: 0 var(--padding-general);
    text-align: center;
}

aside > .user-info-small a{
    color: gray;
}

aside > .user-info-small i{
    font-size: 1.3rem;
    padding: calc(var(--padding-general) /2);
}

aside > .user-info-small img{
    height: 50px;
    padding: 5px;
    color: white;
    background-color: gray;
    border-radius: 50%;
}

/*
    MAIN
*/

.container > main{
    width: 100%;
    overflow: auto;
    height: 100%;;
}

main > header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-general) 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

main > header > .button{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    padding: 15px calc(var(--padding-general) *2);
    border: 1px solid white;
    background-color: transparent;
}

main > .main_container{
    scroll-margin-top: 58px;
    background-color: #141922;
}

 main > .main_container > .section_select{
    text-align: center;
}

 main > .main_container > .section_select li{
    display: inline-block;
    padding: var(--padding-general) 0;
}

 main > .main_container > .section_select li > a{
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    font-size: 0.9rem;
}

main .main_container > .section_select li > .selected_effect{
    width: 2rem;
    border: 1px solid #bdff30;
    margin: 0 auto;
}

main > .main_container > section > .my-row{
    padding-top: var(--padding-general);
    margin-left: -10px;
    margin-right: -10px;
}

main > .main_container > section > .my-row > .col-1-7{
    width: calc((100% / 6) - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

main > .main_container > section > .my-row > .col-1-7 > .card{
    height: 100%;
    text-align: center;
}

main > .main_container > section > .my-row > .col-1-7 > .card > .song-img{
    width: 100%;
    position: relative;
}

main > .main_container > section > .my-row > .col-1-7 > .card > .song-img > img{
    width: 100%;
    display: block;
}

main > .main_container > .most_popular > .my-row > .col-1-7 > .card > .song-img > img, main > .main_container > .most_popular > .my-row > .col-1-7 > .card > .song-img > .play{
    border-radius: 50%;
}

main > .main_container > section > .my-row > .col-1-7 > .card > .song-img > .play{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(1.3px);
}

main > .main_container > section > .my-row > .col-1-7 > .card > .song-img > .play > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    display: block;
}


/* HOVER - ASIDE - MAIN */

main > header > .button:hover{
    transform: scale(1.1);
}

aside > .icon-small > a:hover, aside > .playlist-container a:hover, aside > nav li > a:hover, aside > .user-info a:hover, aside > .user-info-small a:hover, main > .main_container > .section_select li > a:hover{
    color: white;
}

main > .main_container > section > .my-row > .col-1-7 > .card:hover  .play{
    display: block;
}



/*
    FOOTER
*/

footer{
    background-color: #282828;
    min-height: var(--footer_height);
}


footer, footer > *, footer > .left > .song ,footer > .central > *, footer > .right > *{
    display: flex;
}

footer > *, footer > .left > .song, footer > .central > *{
    align-items: center;
}

footer{
    justify-content: space-between;
}

footer > .right{
    justify-content: flex-end;
}

footer > .left, .debug footer > .right{
    padding: 0 var(--padding-general);
    width: 25%;
}

footer > .left > .song{
    margin-right: 20px;
}

footer > .left a{
    color: gray;
    text-decoration: none;
}

footer > .left{
    justify-content: flex-start;
}

footer > .left a > h4{
    color: white;
}

footer > .left img{
    max-width: 80px;
    width: 50%;
    margin-right: 20px;
}

footer > .left > div > i{
    color: gray;
    padding: calc(var(--padding-general) /2);
}

footer > .central{
    flex-wrap: wrap;
    width: 40%;
    justify-content: center;
}

footer > .central > *{
    width: 100%;
    height: 50%;
}
footer > .central > .command{
    justify-content: center;
    padding: calc(var(--padding-general) / 2);
}

footer > .central > .command > button{
    font-size: 1.1rem;
}

footer > .central > .command > button, footer > .right > button{
    background-color: transparent;
    border: none;
    color: white;
    padding: calc(var(--padding-general) / 2);
}

footer > .central > .command > #play{
    font-size: 2rem;
}

footer > .central .track{
    justify-content: space-between;
    padding-bottom: 50px;
}

footer > .central .track > span{
    padding: 0 5px;
    font-size: 0.8rem;
    color: white;
    display: block;
}

footer .full-track, footer .full-volume{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 5px;
    background-color: gray;
}

footer .full-track{
    width: 90%;
}

footer .full-track > .progressiv-track{
    height: 5px;
    background-color: white;
    animation: slider 30s linear infinite;
}


@keyframes slider {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

footer  .full-volume{
    width: 50%;
    min-width: 50px;
    margin-left: 10px;
}

footer .full-volume > .progressiv-volume{
    height: 5px;
    background-color: white;
    width: 20%;
}

footer .switch-dot{
    position: absolute;
    cursor: pointer;
    padding: 5px;
    right: 80%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
}

footer .central .switch-dot{
    animation: dot-slider 30s linear infinite
}

@keyframes dot-slider{
    0%{
        right: 100%;
    }

    100%{
        right: 0%;
    }
}

/* HOVER - FOOTER */

footer > .central > .command > #play:hover{
    transform: scale(1.1);
}


footer .full-track > .progressiv-track:hover, footer .full-volume > .progressiv-volume:hover{
    background-color: #bdff30;
}

footer .switch-dot:hover footer .full-track > .progressiv-track{
    background-color: #bdff30;
}

/*
    MEDIA QUERY
*/


@media screen and (max-width: 1100px){
    .my-row{
        flex-wrap: wrap;
    }

    main > .main_container > section > .my-row > .col-1-7{
        width: calc((100% / 4) - 20px);
    }

    main > .main_container > section > .my-row > .col-1-7 > .card{
        padding-right: 0;
    }
}



@media screen and (max-width: 700px){
    main > .main_container > section > .my-row > .col-1-7{
        width: calc((100% / 2) - 20px);
    }

    footer > .left, .debug footer > .right{
        padding: 0 10px;
        width: 30%;
    }

    footer > .left{
        justify-content: space-between;
    }

    footer > .central > .command > button, footer > .right > button{
        padding: 5px;
    }
}

@media screen and (max-width: 600px){
    
    .container > aside{
        min-width: 50px;
    }

    .container > main{
        width: calc(100% - 50px);
    }

    aside > .logo-container{
        margin: 0;
    }

    aside > .logo-container > img:first-child{
        display: none;
    }

    aside > .logo-container > img:last-child{
        display: block;
    }

    aside > .main-icon, aside > .playlist, .playlist-container{
        display: none;
    }

    aside > .icon-small{
        display: block;
    }

    aside > .user-info{
        display: none;
    }

    aside > .user-info-small{
        display: block;
    }

    footer > .left a > h4{
        font-size: 0.8rem;
    }

    footer > .left img{
        margin-right: 5px;
    }

    footer  .full-volume{
        min-width: 20px;
    }

}


/*
    DEBUG
*/

